include README.md
include LICENSE
include CONTRIBUTING.md
recursive-include tests *.py
recursive-exclude tests __pycache__
recursive-exclude tests *.pyc
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
